
*{
    margin: 0;
    padding: 0;
}
nav ul li{
    float: left;
    
}
nav{
    background-color: #186d01;
    width: 100vw;
    height: 30px;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    
}
nav a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 20px;
    transition: all 1s linear;
}

nav a:hover{
    background-color:bisque;
    color: black;
}