*{
    margin: 0;
    padding: 0;
}

.bar{
    width: 400px;
    height: 18px;
    background-color: gainsboro;
    border-radius: 20px;
    margin: 200px auto 0 auto;
    position: relative;
}
.bar-process{
    width: 50%;
    height: 18px;
    background-color: rgb(12, 131, 20);
    border-radius: inherit;
}
.bar-cicrle{
    height: 30px;
    width:30px ;
    border-radius: 30px;
    background-color: rgb(12, 131, 20);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}