*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* với 1 rem =10px
        còn bình thường 100%=16px */
}
.em{
    font-size:32px;
    width: 10em;
    height: 10em;
    background-color: blue;
    /* là ddoiwn vị sẽ phụ thuộc vào tính font size của chính nó hoặc một phần tử chứa nó */
}
.rem{
    width: 20rem;
    height: 15rem;
    background-color:rebeccapurple;
    /* là đơn vị sẽ phụ thuộc tính font size của thẻ html */
    border-bottom: 2px solid gray;
    border-left: 10px solid black;
    border-right: 2px dashed green;
    border-top: 5px solid palevioletred;
    border-radius: 50px 10px 10px 10px;
    outline: 2px solid black;
}
.center{
    width: 20em;
    height: 20em;
    margin: 0 auto 0 auto;
    background-color: aqua;
}
.center{
    margin-top: 70px;
}
.padding{
    width: 20rem;
    height: 20rem;
    background-color: green;
    font-size: 20px;
    margin: 100px auto;
    padding: 10px;
}
.boxed{
    width: 10rem;
    height: 10rem;
    background-color: orange;
    border: 5px solid black;
    padding: 1rem;
    
}
a{
    font-size: 20px;
    color: rosybrown;
    width: 10rem;
    height: 10rem;
    background-color: royalblue;
    display: block;
    margin: 20px auto;
    
    padding: 25px 25px 25px 25px;
}
body{
    font-family: "Poppins", sans-serif;
    /* Tăng độ đậm của chữ bình thường là 400 */
    font-weight: 300;
    font-size: 30px;
    /* in nghiêng */
    font-style: italic;
}
.font{
    /* tạo khoảng cách giữa các dòng trên dưới khi xuống duòng bình thường là 1 */
    line-height: 1.4;
    margin-top: 500px;
    max-width: 600px;
    text-align: left;
    text-align: right;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    
}
.spam{
    margin-top: 300px;
    word-break: break-word;
}
.imga{
    text-align: center;
    margin-top: 100px;
}
img{
    border-radius: 500px;
    max-width: 100%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.pesudua{
    background-color: aliceblue;
    border-radius: 50px;
    
}
.pesudua:hover{
    color: brown;
    background-color: blue;
    font-size: 50px;
    min-width: 300px;
    min-height: 300px;
}
