a{
    text-decoration: none;
    
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-size: 62.5%;
}
.boxed{
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right top,blue,rgb(212, 147, 26));
    /* 
        direction:to right, to left,to top ,to bottom,
        to right bottom, to right top,to left top, to left bottom */
    cursor: pointer;
    /* hiển thị con trỏ chuột */
    opacity: 0;
    /* độ làm mờ ,khi về 0 sẽ trong suốt nhưng vẫn chiếm diện tích và nhấn vô được */
    visibility: hidden;
    /* vẫn chiếm diện tích nhưng ko ân vô được */
    display: none;
    /* biến mất hoàn toàn */
}
.title{
    /* in đậm */
    font-weight: bold;
    font-size: 50px;
    display:inline-block;
    background-image: linear-gradient(to right,pink,rgb(33, 114, 141));
    margin-top: 2rem ;
    margin-left: 2rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
}
.title:hover{
    background-image: linear-gradient(to left,rgba(47, 95, 137, 0.461),rgb(22, 198, 160));
}
.background{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left,rgba(255, 192, 203, 0.724),rgba(69, 201, 190, 0.765)), url(https://images.unsplash.com/photo-1707343843437-caacff5cfa74?q=80&w=2575&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.shadowbox{
    width: 20rem;
    height: 20rem;
    background-color: black;
    box-shadow: 20px -7px 12px 9px rgba(128, 128, 128, 0.795);
     
    /* box-shadow: x, y ,blur scale color 
        có thẻ mở inspect để thay đổi bóng*/
    margin: 3rem auto;
}
.shadowtext{
    font-size: 50px;
   margin-left: 10rem;
    margin-top: 5rem ;
    background-image: linear-gradient(to right,pink,rgb(33, 114, 141));
    color: transparent;
    
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 1px -10px 9px rgba(176, 38, 61, 0.733)
    /* chỉ có 3 giá trị ko có sacle */
}
/* tags<class<id<inline<important */
ol{
    font-style: italic;
    margin-left: 10px;
    font-weight: bold;
    font-size: 50px;
}
li:nth-child(1){
    color: rebeccapurple;
    /* chạy thứ tự từ trên xuống */
}
li:nth-last-child(2){
    color: blue;
    /* Chạy thứ tự từ dưới lên */
}
li:not(:nth-child(1)){
    color: red;
}
li:nth-last-child(2) span{
    color: blue;
}
li:last-child {
    color: blueviolet;
}
a[href^='htps']{
    color: aqua;
    font-size: 50px;
}
a[href$='.com']{
    color: blueviolet;
    font-size: 50px;
}
p{
    margin-top: 50px;
    font-size: 2rem;
}
p::first-letter{
    color: brown;
}
.boxed2{
    width: 20rem;
    height: 20rem;
    color: blue;
    background-color: darksalmon;
    margin: 50px auto;
    padding-left: 10px;
    transition: all 1s linear;
    opacity: 0;
    /* đã bị làm mờ đến 0 nên ẩn đi nhưng vẫn chiếm diện tích */
}
.boxed2:hover{
    color: antiquewhite;
    background-color: aquamarine;
    opacity: 1;
    /* khi sử dụng thuộc tính hover di chuột vào sẽ hiển thị lại  */
}